<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda de Electrónicos</title>
</head>
<body>
    <h1>Detalles del Producto</h1>

    <h2><%= producto.computadora %></h2>
    <p>Precio: $<%= producto.precio %></p>

    <h2><%= producto.telefono %></h2>
    <p>Precio: $<%= producto.precio %></p>

    <h2><%= producto.celular %></h2>
    <p>Precio: $<%= producto.precio %></p>

    <h2><%= producto.tablet %></h2>
    <p>Precio: $<%= producto.precio %></p>
    
    <a href="/productos">Volver a la lista de productos</a>
</body>
</html>